body {
  padding-top: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.jumbotron {
  background-color: #a8a8a8
}

section {
  text-align: center;
}

article {
  text-align: left;
}

button {
  background-color: #1a187c; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
