body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.jumbotron {
  background-color: #a8a8a8
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

}
